
#recpt_div {
 background: #F5F5F5;
}

#removed_div {
 background: #ffe0e0;
}

#returned_div {
  background: #e0ffe0;
}

input:focus {
  background: #00EE00 
}

textarea {
  font: courier ;
}
.autocomplete-w1 { background: #FFFFFF; 
 position: absolute; top: 0px; left: 0px; 
 background-color: #FFFFFF }

.autocomplete { border:3px solid #000000; background:#FFFFFF; cursor:default; 
text-align:left; max-height:350px; margin:2; background-color:#FFFFFF ;
width: 200px
}
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
