App_*
_vti_*
*.tar
*.db
*.swp
*.aspx
*.xaspx
*.odt
*.pdf
*.flv
*.mdb
*.log
*.doc*
*.vcf
*.cnf
*.dll
*.asmx
*.ascx
*.asax
*.tgz
mathematician
y_key_*
SAMPLE_*
*.swf
fusion
jwFLV
*.zip
web2py
ckeditor
web/location-[^x]*.html
