*.log
*.tmp
*.pyc
/server.py
*~
/App_Browsers/
/App_Data/
/_vti_cnf/
/_vti_pvt/
/account/
/admin/
/api/
/bin/
/cgi-bin/
/components/
/css/
/global.asax
/html1.tar
/html2.tar
/mathematician/
/test.html
/web/announcements/
/web/blackbeltlist_test.html
/web/default.xaspx
/web/err/
/web/forms/
/web/gallery/
/web/index.html
/web/invapp/
/web/rotate_003.xcf
/web/t.html
/web/tm.spec
/web/upload/
/web/ybbc_test.html
